@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);


.claimButton{
  border: None;
  border-radius: 20px;
  padding: 5px 2px;
  margin: 0px 15px;
  width: 80px;
  background-color: #00ffaa;
}



.table-wrapper{
    margin-top: 0% !important;
    height: 50vh;
    color: #014055;
}


table {
  width: 80vw;
  background: #121820;
  border-radius: 0.3em;
  border-collapse: collapse;
  // margin: 0.5em;
  font-size: 16px;  
  
}
th {
  border-bottom: 1px solid #364043;
  color: #8ad0ff;
  // font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}
td {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
}
.disabled td {
  color: #4F5F64;
}
tbody tr {

  transition: background 0.25s ease;
  transition: transform 0.25s ease;
}
tbody tr:hover {
  background: #014055;
  transform: scale(1.015);
}


